@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

a {
    text-decoration: none;
}

h6 {
    font-weight: 800;
    color: #0e223e;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eaeae9;
}

.card-header img{
    width: 200px;
    height: auto;
    padding: 0.5rem 0;
}

.form-label {
    color: #0e223e;
}

.form-control {
    background-color: #fff;
    padding: 0 30px;
    border-color: #939393;
    line-height: 40px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
    background-color: #fff;
    color: #3e4455;
    border-color: #939393;
}

.form-check .form-check-input {
    border-color: #939393;
}

.form-check label {
    color: #3e4455;
}

.f-password {
    color: #0e223e;
}

.btn {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    background-color: #0e223e;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
    background-color: #0e223e;
}

.bg-image {
    background-image: url("acceso.png");
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}